// stylelint-disable declaration-no-important

// Typography

@mixin text-emphasis-variant($parent, $color) {
  .text-#{$parent} {
    color: var(--#{$parent}) !important;
  }
  a.text-#{$parent} {
    @include hover-focus {
      color: darken($color, 10%) !important;
    }
  }
}
