$primary: #00679d;
$purple: #8310b4;
$success: #76c756;

$black1: #000;
$black2: #343a40;
$yellow2: #d78e00;
$secondary: #e7e7e7;
$grey2: #999;
$grey3: #282828;
$grey4: #8d8d8d;
$grey5: #d4d4d4;
$blue2: #00c4e3;
$blue3: #2f26b1;
$blue4: #056672;
$green2: #b4da30;

$lg: 'screen and (min-width: 992px)';

//custom color bs4
:root{
  --secondary: #{$secondary};
  --dark: #{$grey3};
  --primary: #{$primary};
  --purple: #{$purple};
  --success: #{$success};
}

html {
  font-size: 15px;
}
body {
  font-family: "Roboto",sans-serif;
  background-color: $secondary;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}
p {
  text-align: justify;
}

.img-10x10 {
  width: 10px;
  height: 10px;
}
.img-50x50 {
  width: 50px;
  height: 50px;
}
.img-30x30 {
  width: 30px;
  height: 30px;
}
.img-64x52 {
  width: 64px;
  height: 52px;
}
.img-78x78 {
  width: 78px;
  height: 78px;
}
.img-134x23 {
  width: 134px;
  height: 23px;
}
.text-black2 {
  color: $black2;
}
.text-yellow2 {
  color: $yellow2;
}
.text-grey2 {
  color: $grey2;
}

.bg-blue3 {
  background-color: $blue3;
}

.bg-blue4 {
  background-color: $blue4;
}
.bg-grey4 {
  background-color: $grey4;
}
.bg-green2 {
  background-color: $green2;
}
.bg-purple{
  background-color: var(--purple);
}
.border-right-black {
  border-right: 1px solid $black1;
}

.match-bet-item-content {
  cursor: pointer;
  &:hover {
    background-color: $grey5;
  }
}
.title-border-left {
  font-size: 20px;
  color: $black1;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border-left: 10px solid $blue;
  background: var(--white);
}
#header-menu {
  li {
    a {
      color: var(--white);
      padding: 7px;
      font-weight: 600;
      border-bottom: 1px solid #dee2e6;
      border-left: 0;
      &:hover {
        color: $primary;
      }
    }
  }
}
@media (min-width: 960px) {
  .img-120x80 {
    min-width: 90px;
    height: 80px;
  }
}
@media (min-width: 992px) {
  #header-menu {
    li {
      a {
        color: var(--white);
        padding: 7px;
        font-weight: 600;
        border-left: 1px solid #dee2e6;
        border-bottom: 0;
      }
    }
  }
}
@media (min-width: 1200px) {
  .fz-xl-44 {
    font-size: 44px;
  }
}
