@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?52k7');
  src:  url('../fonts/icomoon.eot?52k7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?52k7') format('truetype'),
    url('../fonts/icomoon.woff?52k7') format('woff'),
    url('../fonts/icomoon.svg?52k7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-pinterest:before {
  content: "\ead1";
}
